:root{
  --main :#4534e1;
  --black:#000;
  --white:#fff;
  --font-family:"Besley", serif;
}
*{
 
  font-family: var(--font-family);
}
*::selection{
  background: var(--main);
  color:var(--white);
}
html::-webkit-scrollbar{
  width: 10px;
}
html::-webkit-scrollbar-track{
  background: var(--black);
}
html::-webkit-scrollbar-thumb{
  background: var(--main);
}
body{
  background: #000;
  color:#fff;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000000fc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
